body,
html {
  padding: 0;
  margin: 0;
}

* {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

header {
  background-color: black;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

aside {
  background-color: blueviolet;
  flex: 1;
}

footer {
  background-color: black;
}

.contenedor  {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.header-bot {
  background-color: lightsalmon;
  margin-top: 0.3rem;
}

.nav {
  background-color: lightblue;
  display: flex;
  margin-bottom: 0.3rem;
}

.contenedor-article {
  background-color: rgb(162, 45, 183);
  display: flex;
  flex-flow: row wrap;
  flex: 2;
}

.header-izq {
  background-color: brown;
  flex: 1;
}

.header-centro {
  background-color: brown;
  flex: 4;
}

.header-der {
  background-color: brown;
  flex: 1;
}

.contenedor-titulo  {
  background-color: lightsalmon;
}

.titulo {
  background-color: lightyellow;
}

.contenedor-centro {
  background-color: black;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.articles {
  background-color: rgb(15, 110, 113);
  flex: 1 1 40%;
}

.foot-article {
  background-color: brown;
  flex: 1 1 100%;
}

.aside-article {
  background-color: green;
}

.foot {
  background-color: greenyellow;
}

@media (max-width: 1024px) {
  /* For tablets and Ipads */
  .contenedor-centro {
    flex-flow: column;
    display: flex;
    justify-content: space-between;
    background-color: yellow;
  }
}

@media (max-width: 480px) {
  /* For mobile and Iphone */
  header {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
  .nav {
    background-color: lightblue;
    display: flex;
    margin-bottom: 1rem;
    flex-flow: column;
  }

  .contenedor-article {
    background-color: rgb(75, 123, 189);
    display: flex;
    flex-flow: column;
    flex: 2;
  }

.articles {
  background-color: rgb(210, 24, 24);
  flex: 1 1 40%;
}

.foot-article {
  background-color: rgb(78, 14, 85);
  flex: 1 1 100%;
}

aside {
  background-color: rgb(198, 137, 33);
  flex: 1;
}

.aside-article {
  background-color: rgb(20, 18, 79);
}


}
